@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
    font-family:"Raleway";
    src: url(../font/Raleway-Regular.woff) url(../font/Raleway-Regular.ttf), format(trutype); 
    
}
@font-face {
    font-family:"raleway-italique";
    src: url(../font/Raleway-Italic.woff) url(../font/Raleway-Italic.ttf) format(trutype);
}
@font-face {
    font-family: "raleway-bold";
    src: url(../font/Raleway-Bold.woff) url(../font/Raleway-Bold.ttf) format(trutype);
}

 
* {
    margin: 0;
    box-sizing: border-box;
}
 
body {
    width: 1160px;
    margin: auto;
    border-right: 1px solid #782221;
}
 
h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
}
 
p,
a,
ul,
small {
    font-family: "Raleway", sans-serif;
}
 
ul {
    margin-left: 30px;
}
 
a {
    color: white;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}
 
header {
    background-color: #782221;
    color: white;
    display: flex;
    flex-direction: column;
 
}
 
header img {
    height: 250px;
    width: 250px;
    margin: 20px auto auto;
 
}
 
header img:hover {
    cursor: zoom-in;
}
.profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    line-height: 60px;
}

.rounded-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; 
}

.contact {
    background-color: #2c1d27;
    display: flex;
    justify-content: space-between;
    padding: 20px;;
}

 
main {
    display: flex;
}
 
.resume {
    background-color: #782221;
    color: white;
}
 
.resume p,
.resume ul {
    padding: 25px;
}
 
.resume h2 {
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: #dbc2a4;
    color: black;
}
 
.about_me {
    text-indent: 30px;
	flex-basis: 30%; /* 30% de la largeur du conteneur */
    flex-shrink: 0;  /* Empêche la réduction de la largeur */
}

.experiences {
    padding: 25px;
	flex-basis: 70%; /* 70% de la largeur du conteneur */
    flex-shrink: 0;  /* Empêche la réduction de la largeur */
}
 
.title {
    display: flex;
    margin-top: 15px;
    background-color: #dbc2a4;
}
 
.experiences h2 {
 
    padding-left: 10px;
    width: 100%;
}
 
.job-training {
    width: 8px;
    height: 30px;
    background-color: #782221;
}
 
.title:hover .job-training {
    background-color: #782221;
}
 
.experiences h3,
.experiences p,
.experiences ul {
    padding: 10px;
}
footer {
    background-color: #782221;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
 
.logo img:hover {
    opacity: 0.7;
}
 
#social_media {
    display: flex;
    justify-content: space-between;
    width: 200px;
} 
 



